

.topnav input[type=text] {

    padding: 6px;

    margin-top: 0px;

    margin-bottom: 4px;

    font-size: 17px;

    border: none;

 

   

  }

  .topnav{

    text-align: center;
    margin-top: 0px;

    background-color:rgb(108, 108, 237);

    

  }

 

.topnav input[type = submit]{

    padding: 6px;

    margin-top: 0px;

    margin-bottom: 4px;

    font-size: 17px;

    border: none;

    margin-left : 8px;

 

  }