/* .App{
  background-color: #eee;
  height:100vh;
  width:100vw;
}
.search-bar-container {
  padding-top: 0;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
} */


.movie-details {
  
  top: 60px;
  right: 350px;
  width: 400px; 
  background-color: #b66d6d;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.movie-details-content {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #cb6060;
  
}

.movie-title {
  color: white;
  font-size: 24px;
  color: #333;
}

.movie-overview {
  font-size: 18px;
  color: #ffffff;
}

.movie-release-date,
.movie-vote-average {
  font-size: 16px;
  color: #dfdfdf;
  margin-top: 5px;
}